body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    margin: 4rem 3rem;
}

.title > h1{
    text-align: center;
    margin: 0;
    padding: 0;
}

.containerSelection{
    height: 20rem;
    background-color: gray;
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 0 1rem;
    border: 5px solid black;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    transform: scale(1.2);
    background-color: darkseagreen;
}
